<ion-header>
  <ion-toolbar>
    <ion-title>Garade Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div id="Garade Details" >
  <div class="garade_details" >
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col col-4></ion-col>
          <ion-col col-4>
            <img [src]="imageUrl" alt="">
          </ion-col>
          <ion-col col-4></ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-col>
        <ion-row >
          <ion-title class="my-label" style="color: black;" >Title :</ion-title>
        </ion-row>
        <ion-row>
          <ion-title class="my-label" #000000>{{ title }}</ion-title>
        </ion-row>
      </ion-col>


    </ion-card>
    <ion-card>
      <ion-col>
        <ion-row >
          <ion-title class="my-label" style="color: black;" >Description :</ion-title>
        </ion-row>
        <ion-row>
          <ion-title class="my-label" #000000>{{ description }}</ion-title>
        </ion-row>
      </ion-col>


    </ion-card>
    <ion-button  class="login-btn" type="submit" expand="block"
    style="text-transform:none;" (click)="logout()"  >Select Agent</ion-button>

  </div>
</div>
</ion-content>
