ion-toolbar {
    --color: #ffffff;
    --background: #428cff;
    
}

ion-title{
    --color:white;
    font-size: medium;
    text-align: center;
}

ion-content{
    --ion-background-color: white;
}

.content{
    position:fixed;
    margin-top:5px;
    margin-left:5px;
    margin-right: 5px;
    
   
   
}