
ion-content{
  --ion-background-color: white;
}



.title{
  color: #428cff;
  text-align: center;
  font-size:xx-large;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder;
 
}

.subtitle{
  color:black;   
  font-size:small;
  font-family: 'Nunito', sans-serif;
  text-align: center;

}

ion-card{
  background-color: white;
  box-shadow: none;
  margin-left: 10px;
  height: 275px;
}

.buttons-action{
  margin-left:5px;
 
 
}

.login-text{
  font-size:medium;
  color:grey;
  text-align:center;
  font-family:'Nunito', sans-serif;
  text-transform:none;   
  font-weight: bold;
}

.signup-text{
  font-size:small;
  color:#a8a8a8;
  text-align:center;
  font-family:'Nunito', sans-serif;
  text-transform:none;
}

.inputs-list {
  --ion-item-background: var(--page-background);
  margin-top: -20px;

  .input-item {
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
    color: black;
  }

  .error-container {
    .error-message {
      margin: calc(var(--page-margin) / 2) 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }
}


.login-btn{
  --color: white;
  font-family: 'Nunito', sans-serif;
  font-size: small;
  text-transform: none;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
 
}

.other-auth-options-row {
  justify-content: space-between;
  align-items: center;

.forgot-btn {
  --color: #428cff;
  font-family: 'Nunito', sans-serif;
  font-size: small;
  text-transform: none;
  position: relative;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;

  &:focus {
    outline: none;
  }
}
}


.social-auth-options {
  .options-divider {
    color: grey;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    margin: var(--page-margin) 0px;
    text-align: center;
    font-size: smaller;
  }

  .social-auth-btn {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;

    &:not(:first-child) {
      margin-top: var(--page-margin);
    }
  }
}


ion-icon {
  color: black;
  margin-left: 5px;
}

.eye {
  color: black;
}

ion-select:hover{
  color: grey;
      }


