<ion-content class="background">
  <ion-header>
    <ion-toolbar><ion-buttons  slot="start" >
      <ion-back-button text="Signup" defaultHref="signup"  > 
       </ion-back-button>
     
  </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
    <ion-card-header>
      <ion-card-title class="title">AutoBarber</ion-card-title>
      <ion-card-subtitle class="subtitle">
        -Best Therapy For Your Vehicle-
      </ion-card-subtitle>
    </ion-card-header>

    <ion-content class="signup-content">

      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-input type="email" placeholder="Email" clearInput autocapitalize="off" inputmode="email"></ion-input>
        </ion-item>

        
  
      </ion-list>
       

      
      
    </ion-content>