ion-tab-bar{
    --color: #ffffff;
    --background: #428CFF;
}

.tab-button-active {
    animation: bounce 0.5s;
}
  
ion-content{
    --ion-background-color: white;
  }
  
  ion-toolbar {
    --color: #ffffff;
   --background: #428CFF;
   --size: small;
    height: 45px;
    
}

ion-title{
    font-size: medium;
    text-align: center;
    margin-top: 5px;
}


ion-list {
  background-color: transparent;
}

ion-card{
  --background: white;
  
}
  