<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="garage-owner-landing">
      <ion-icon name = 'home'></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="garage-owner-rating">
      <ion-icon name = 'star'></ion-icon>
      <ion-label>Ratings</ion-label>

    </ion-tab-button>
    <ion-tab-button tab="garage-owner-profile">
      <ion-icon name = 'person'></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
