ion-content{
    --ion-background-color: white;
  }
  
  ion-toolbar {
    --color: #ffffff;
   --background: #428CFF;
   --size: small;
    height: 45px;
    
}



ion-card{
    --background: white;
    
}

ion-icon{
    --color: white;
}

.logout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.my-label{
    font-size: small;
    text-align: justify;
}
