ion-content{
    --ion-background-color: white;
}

.content{
    position:fixed;
    margin-top:10px;
    margin-left:0px;
   
  
}


ion-card{
    background-color: white;
    box-shadow: none;
    margin-left: 10px;
}

.title{
    color:#428cff;
    font-weight: bolder;
    text-align: center;
    font-size:xx-large;
    font-family: 'Nunito', sans-serif;
}

.subtitle{
    color:black;
    font-weight: bolder;   
    font-size:small;
    font-family: 'Nunito', sans-serif;
    text-align: center;

}

ion-card-content{
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.h1{
  font-size:25px;
  margin-top: 10px;  
}
.h2{
    font-size: 15px;
}

ion-icon{
    color:black;
    margin-left: 5px;
}

.inputs-list {
    --ion-item-background: var(--page-background);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
      color: black;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .reset-password-btn {
    margin: calc(var(--page-margin) / 2) 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size:medium;
    font-family: 'Nunito', sans-serif;
  }
