ion-toolbar {
    --color: #ffffff;
    --background: #428cff;
    
}

ion-menu-button{
    --color:white;
    font-size: large;
    
    
    
}

ion-title{
    --color:white;
    font-size: medium;
    text-align: center;
}

ion-content{
    --ion-background-color: white;
}

.content{
    position:fixed;
    margin-top:5px;
    margin-left:5px;
    margin-right: 5px;
    
   
   
}


ion-card{
    margin-top: 0px;
    background-color: white;
    margin-right: 0px;
    margin-left: 0px;
    height: 230px;
    width: 275px;
    box-shadow: none;
       
    
}

.title{
    color: #428cff;
    text-align: center;
    font-size:xx-large;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    
}

.subtitle{
    color:black;   
    font-size:small;
    font-family: 'Nunito', sans-serif;
    text-align: center;

}

.subcard{
   
    height: 300px;
}

.card1{
   margin-top: 0px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 125px;
    height: 220px;
    margin-left: 0px;           
}

.img2{
   
    width: fit-content;
    height: fit-content;
    fill-opacity: 0;
   
}

.card2{
   margin-top: 20px;

    font-family: 'Nunito', sans-serif;
    text-align: center;
    width: 125px;
    height: 220px;
    margin-left: 0px;
    margin-right: 0px;
          
}

.img3{
   
    width: fit-content;
    height: fit-content;
}